In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('train_indessa.csv')

In [2]:
df.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350,14350.0,36 months,,19.19,E,E3,clerk,...,0.0,74.0,INDIVIDUAL,NaN,26th week,0.0,0.0,28699.0,30800.0,0
1,70011223,4800,4800,4800.0,36 months,BAT1586599,10.99,B,B4,Human Resources Specialist,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,0.0,9974.0,32900.0,0
2,70255675,10000,10000,10000.0,36 months,BAT1586599,7.26,A,A4,Driver,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,65.0,38295.0,34900.0,0
3,1893936,15000,15000,15000.0,36 months,BAT4808022,19.72,D,D5,Us office of Personnel Management,...,0.0,NaN,INDIVIDUAL,NaN,135th week,0.0,0.0,55564.0,24700.0,0
4,7652106,16000,16000,16000.0,36 months,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,...,0.0,NaN,INDIVIDUAL,NaN,96th week,0.0,0.0,47159.0,47033.0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532428 entries, 0 to 532427
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   member_id                    532428 non-null  int64
 1   loan_amnt                    532428 non-null  int64
 2   funded_amnt                  532428 non-null  int64
 3   funded_amnt_inv              532428 non-null  float64
 4   term                         532428 non-null  object
 5   batch_enrolled               447279 non-null  object
 6   int_rate                     532428 non-null  float64
 7   grade                        532428 non-null  object
 8   sub_grade                    532428 non-null  object
 9   emp_title                    501595 non-null  object
 10  emp_length                   505537 non-null  object
 11  home_ownership               532428 non-null  object
 12  annual_inc                   532425 non-null  float64
 13  verification_status          532428 non-null  object
 14  pymnt_plan                   532428 non-null  object
 15  desc                         75599 non-null   object
 16  purpose                      532428 non-null  object
 17  title                        532338 non-null  object
 18  zip_code                     532428 non-null  object
 19  addr_state                   532428 non-null  object
 20  dti                          532428 non-null  float64
 21  delinq_2yrs                  532412 non-null  float64
 22  inq_last_6mths               532412 non-null  float64
 23  mths_since_last_delinq       259874 non-null  float64
 24  mths_since_last_record       82123 non-null   float64
 25  open_acc                     532412 non-null  float64
 26  pub_rec                      532412 non-null  float64
 27  revol_bal                    532428 non-null  float64
 28  revol_util                   532141 non-null  float64
 29  total_acc                    532412 non-null  float64
 30  initial_list_status          532428 non-null  object
 31  total_rec_int                532428 non-null  float64
 32  total_rec_late_fee           532428 non-null  float64
 33  recoveries                   532428 non-null  float64
 34  collection_recovery_fee      532428 non-null  float64
 35  collections_12_mths_ex_med   532333 non-null  float64
 36  mths_since_last_major_derog  132980 non-null  float64
 37  application_type             532428 non-null  object
 38  verification_status_joint    305 non-null     object
 39  last_week_pay                532428 non-null  object
 40  acc_now_delinq               532412 non-null  float64
 41  tot_coll_amt                 490424 non-null  float64
 42  tot_cur_bal                  490424 non-null  float64
 43  total_rev_hi_lim             490424 non-null  float64
 44  loan_status                  532428 non-null  int64
dtypes: float64(23), int64(4), object(18)
memory usage: 182.8+ MB

In [4]:
pip install sweetviz

Requirement already satisfied: sweetviz in c:\users\china\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\china\anaconda3\lib\site-packages (from sweetviz) (4.50.2)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\china\anaconda3\lib\site-packages (from sweetviz) (5.1.3)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\china\anaconda3\lib\site-packages (from sweetviz) (2.11.3)
Requirement already satisfied: numpy>=1.16.0 in c:\users\china\anaconda3\lib\site-packages (from sweetviz) (1.19.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\china\anaconda3\lib\site-packages (from sweetviz) (1.1.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\china\anaconda3\lib\site-packages (from sweetviz) (1.5.2)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\china\anaconda3\lib\site-packages (from sweetviz) (3.3.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\china\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\china\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2020.12.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\china\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\china\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\china\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\china\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (8.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\china\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.0)
Requirement already satisfied: six in c:\users\china\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\china\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0.1; however, version 21.1.1 is available.
You should consider upgrading via the 'C:\Users\china\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [5]:
df_test = pd.read_csv('test_indessa.csv')

In [6]:
df_test.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collection_recovery_fee,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,11937648,14000,14000,14000.0,60 months,BAT4711174,16.24,C,C5,Data Analyst,...,0.0,0.0,NaN,INDIVIDUAL,NaN,104th week,0.0,0.0,85230.0,45700.0
1,38983318,16000,16000,16000.0,60 months,BAT4318899,9.49,B,B2,Senior Database Administrator,...,0.0,0.0,NaN,INDIVIDUAL,NaN,57th week,0.0,0.0,444991.0,21400.0
2,27999917,11050,11050,11050.0,60 months,BAT446479,15.61,D,D1,Customer service representative,...,0.0,0.0,26.0,INDIVIDUAL,NaN,70th week,0.0,0.0,105737.0,16300.0
3,61514932,35000,35000,34700.0,60 months,BAT4664105,12.69,C,C2,ACCT OFFICER,...,0.0,0.0,NaN,INDIVIDUAL,NaN,22th week,0.0,0.0,287022.0,72400.0
4,59622821,6500,6500,6500.0,36 months,,6.89,A,A3,Paralegal,...,0.0,0.0,NaN,INDIVIDUAL,NaN,22th week,0.0,0.0,234278.0,26700.0

In [7]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354951 entries, 0 to 354950
Data columns (total 44 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   member_id                    354951 non-null  int64
 1   loan_amnt                    354951 non-null  int64
 2   funded_amnt                  354951 non-null  int64
 3   funded_amnt_inv              354951 non-null  float64
 4   term                         354951 non-null  object
 5   batch_enrolled               309352 non-null  object
 6   int_rate                     354951 non-null  float64
 7   grade                        354951 non-null  object
 8   sub_grade                    354951 non-null  object
 9   emp_title                    334322 non-null  object
 10  emp_length                   337017 non-null  object
 11  home_ownership               354951 non-null  object
 12  annual_inc                   354950 non-null  float64
 13  verification_status          354951 non-null  object
 14  pymnt_plan                   354951 non-null  object
 15  desc                         50181 non-null   object
 16  purpose                      354951 non-null  object
 17  title                        354889 non-null  object
 18  zip_code                     354951 non-null  object
 19  addr_state                   354951 non-null  object
 20  dti                          354951 non-null  float64
 21  delinq_2yrs                  354938 non-null  float64
 22  inq_last_6mths               354938 non-null  float64
 23  mths_since_last_delinq       173193 non-null  float64
 24  mths_since_last_record       54930 non-null   float64
 25  open_acc                     354938 non-null  float64
 26  pub_rec                      354938 non-null  float64
 27  revol_bal                    354951 non-null  int64
 28  revol_util                   354736 non-null  float64
 29  total_acc                    354938 non-null  float64
 30  initial_list_status          354951 non-null  object
 31  total_rec_int                354951 non-null  float64
 32  total_rec_late_fee           354951 non-null  float64
 33  recoveries                   354951 non-null  float64
 34  collection_recovery_fee      354951 non-null  float64
 35  collections_12_mths_ex_med   354901 non-null  float64
 36  mths_since_last_major_derog  88723 non-null   float64
 37  application_type             354951 non-null  object
 38  verification_status_joint    206 non-null     object
 39  last_week_pay                354951 non-null  object
 40  acc_now_delinq               354938 non-null  float64
 41  tot_coll_amt                 326679 non-null  float64
 42  tot_cur_bal                  326679 non-null  float64
 43  total_rev_hi_lim             326679 non-null  float64
dtypes: float64(22), int64(4), object(18)
memory usage: 119.2+ MB

In [8]:
#importing sweetviz
#import sweetviz as sv
#analyzing the dataset
#report = sv.analyze(df)
#display the report
#report.show_html('train-bank.html')

In [9]:
#from pandas_profiling import ProfileReport
#design_report = ProfileReport(df)
#design_report.to_file(output_file='report.html')

In [10]:
#pip install pandas-profiling

In [11]:
df['loan_status'].value_counts()

0    406601
1    125827
Name: loan_status, dtype: int64

In [12]:
df.columns

Index(['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term',
       'batch_enrolled', 'int_rate', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code', 'addr_state',
       'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'application_type', 'verification_status_joint', 'last_week_pay',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'loan_status'],
      dtype='object')

In [13]:
# Replaces months string with '' 
df['term'].replace(to_replace=' months', value='', regex=True, inplace=True) 

# Convert it to numeric
df['term'] = pd.to_numeric(df['term'], errors='coerce')

errors='coerce'
It will ignore all non-numeric values. Output: Code #3: Using errors='coerce'. It will replace all non-numeric values with NaN

In [14]:
df['term'].value_counts()

36    372793
60    159635
Name: term, dtype: int64

In [15]:
df['emp_length'].replace('n/a', '0', inplace=True)
df['emp_length'].replace(to_replace='\+ years', value='', regex=True, inplace=True)
df['emp_length'].replace(to_replace=' years', value='', regex=True, inplace=True)
df['emp_length'].replace(to_replace='< 1 year', value='0', regex=True, inplace=True)
df['emp_length'].replace(to_replace=' year', value='', regex=True, inplace=True)

# Convert it to numeric
df['emp_length'] = pd.to_numeric(df['emp_length'], errors='coerce')

In [16]:

df['emp_length'].value_counts()

10.0    175105
2.0      47276
0.0      42253
3.0      42175
1.0      34202
5.0      33393
4.0      31581
7.0      26680
8.0      26443
6.0      25741
9.0      20688
Name: emp_length, dtype: int64

In [17]:
df['sub_grade'].replace(to_replace='A', value='0', regex=True, inplace=True)
df['sub_grade'].replace(to_replace='B', value='1', regex=True, inplace=True)
df['sub_grade'].replace(to_replace='C', value='2', regex=True, inplace=True)
df['sub_grade'].replace(to_replace='D', value='3', regex=True, inplace=True)
df['sub_grade'].replace(to_replace='E', value='4', regex=True, inplace=True)
df['sub_grade'].replace(to_replace='F', value='5', regex=True, inplace=True)
df['sub_grade'].replace(to_replace='G', value='6', regex=True, inplace=True) 

# Convert it to numeric
df['sub_grade'] = pd.to_numeric(df['sub_grade'], errors='coerce')

In [18]:
df_test['sub_grade'].replace(to_replace='A', value='0', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='B', value='1', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='C', value='2', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='D', value='3', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='E', value='4', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='F', value='5', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='G', value='6', regex=True, inplace=True)
# Convert it to numeric
df_test['sub_grade'] = pd.to_numeric(df_test['sub_grade'], errors='coerce')

In [19]:
df['last_week_pay'].replace(to_replace='th week', value='', regex=True, inplace=True)

df['last_week_pay'].replace(to_replace='NA', value='', regex=True, inplace=True)

# Convert it to numeric
df['last_week_pay'] = pd.to_numeric(df['last_week_pay'], errors='coerce')

### Handling Missing Values

In [20]:
df.isnull().sum()

member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
batch_enrolled                  85149
int_rate                            0
grade                               0
sub_grade                           0
emp_title                       30833
emp_length                      26891
home_ownership                      0
annual_inc                          3
verification_status                 0
pymnt_plan                          0
desc                           456829
purpose                             0
title                              90
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                        16
inq_last_6mths                     16
mths_since_last_delinq         272554
mths_since_last_record         450305
open_acc                           16
pub_rec                            16
revol_bal                           0
revol_util                        287
total_acc                          16
initial_list_status                 0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
collections_12_mths_ex_med         95
mths_since_last_major_derog    399448
application_type                    0
verification_status_joint      532123
last_week_pay                   10614
acc_now_delinq                     16
tot_coll_amt                    42004
tot_cur_bal                     42004
total_rev_hi_lim                42004
loan_status                         0
dtype: int64

In [21]:
cols = ['term', 'loan_amnt', 'funded_amnt', 'last_week_pay', 'int_rate', 'sub_grade', 'annual_inc', 'dti', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'revol_bal', 'revol_util', 'total_acc', 'total_rec_int', 'mths_since_last_major_derog', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'emp_length']
for col in cols:
    print('Imputation with Median: %s' % (col))
    df[col].fillna(df[col].median(), inplace=True)
    df_test[col].fillna(df_test[col].median(), inplace=True)

cols = ['acc_now_delinq', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med']
for col in cols:
    print('Imputation with Zero: %s' % (col))
    df[col].fillna(0, inplace=True)
    df_test[col].fillna(0, inplace=True)

print('Missing value imputation done.')

Imputation with Median: term

TypeError:

In [22]:

# Converts categorical variable into dummy/indicator variables.
cate_attr = ['home_ownership', 'purpose']
for cat in cate_attr:
   df_col = [cat]
   df[cat] = df[cat].astype("category")
   df[cat] = pd.get_dummies(df, columns=df_col)

In [23]:
# How big the loan a person has taken with respect to his earnings, annual income to loan amount ratio
df['loan_to_income'] = df['annual_inc']/df['funded_amnt_inv']
df_test['loan_to_income'] = df_test['annual_inc']/df_test['funded_amnt_inv']

In [24]:
# How big the loan a person has taken with respect to his earnings, annual income to fund by bank ratio
df['income_to_loan'] = np.round_(df['annual_inc']/df['funded_amnt'], decimals = 2)

In [25]:
# How big the loan a person has taken with respect to his earnings, annual income to fund by bank ratio
df_test['income_to_loan'] = np.round_(df_test['annual_inc']/df_test['funded_amnt'], decimals = 2)

In [26]:
selected_cols = ['member_id', 'emp_length', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'sub_grade', 'int_rate', 'annual_inc', 'dti', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'revol_bal', 'revol_util', 'total_acc', 'total_rec_int', 'total_rec_late_fee', 'mths_since_last_major_derog', 'last_week_pay', 'tot_cur_bal', 'total_rev_hi_lim', 'tot_coll_amt', 'recoveries', 'collection_recovery_fee', 'term', 'acc_now_delinq', 'collections_12_mths_ex_med']
finalTrain = df[selected_cols]
finalTest = df_test[selected_cols]
# Creating target variable pandas series from train dataframe, this will be used by cross validation to calculate
# the accuracy of the model
train_target = pd.DataFrame(df['loan_status'])

In [27]:
# How big the loan a person has taken with respect to his earnings, annual income to loan amount ratio
finalTrain['loan_to_income'] = finalTrain['annual_inc']/finalTrain['funded_amnt_inv']
finalTest['loan_to_income'] = finalTest['annual_inc']/finalTest['funded_amnt_inv']
# All these attributes indicate that the repayment was not all hunky-dory. All the amounts caclulated are ratios 
# like, recovery to the loan amount. This column gives a magnitude of how much the repayment has gone off course 
# in terms of ratios.
finalTrain['bad_state'] = finalTrain['acc_now_delinq'] + (finalTrain['total_rec_late_fee']/finalTrain['funded_amnt_inv']) + (finalTrain['recoveries']/finalTrain['funded_amnt_inv']) + (finalTrain['collection_recovery_fee']/finalTrain['funded_amnt_inv']) + (finalTrain['collections_12_mths_ex_med']/finalTrain['funded_amnt_inv'])
finalTest['bad_state'] = finalTest['acc_now_delinq'] + (finalTest['total_rec_late_fee']/finalTest['funded_amnt_inv']) + (finalTest['recoveries']/finalTest['funded_amnt_inv']) + (finalTest['collection_recovery_fee']/finalTest['funded_amnt_inv']) + (finalTrain['collections_12_mths_ex_med']/finalTest['funded_amnt_inv'])

# For the sake of this model, I have used just a boolean flag if things had gone bad, with this case I didn't see
# a benifit of including above computations
finalTrain.loc[finalTrain['bad_state'] > 0, 'bad_state'] = 1
finalTest.loc[finalTest['bad_state'] > 0, 'bad_state'] = 1


# Total number of available/unused 'credit lines'
finalTrain['avl_lines'] = finalTrain['total_acc'] - finalTrain['open_acc']
finalTest['avl_lines'] = finalTest['total_acc'] - finalTest['open_acc']


# Interest paid so far
finalTrain['int_paid'] = finalTrain['total_rec_int'] + finalTrain['total_rec_late_fee']
finalTest['int_paid'] = finalTest['total_rec_int'] + finalTest['total_rec_late_fee']


# Calculating EMIs paid (in terms of percent)
finalTrain['emi_paid_progress_perc'] = ((finalTrain['last_week_pay']/(finalTrain['term']/12*52+1))*100)
finalTest['emi_paid_progress_perc'] = ((finalTest['last_week_pay']/(finalTest['term']/12*52+1))*100)


# Calculating total repayments received so far, in terms of EMI or recoveries after charge off
finalTrain['total_repayment_progress'] = ((finalTrain['last_week_pay']/(finalTrain['term']/12*52+1))*100) + ((finalTrain['recoveries']/finalTrain['funded_amnt_inv']) * 100)
finalTest['total_repayment_progress'] = ((finalTest['last_week_pay']/(finalTest['term']/12*52+1))*100) + ((finalTest['recoveries']/finalTest['funded_amnt_inv']) * 100)

<ipython-input-27-53635ffc5814>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalTrain['loan_to_income'] = finalTrain['annual_inc']/finalTrain['funded_amnt_inv']
<ipython-input-27-53635ffc5814>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalTest['loan_to_income'] = finalTest['annual_inc']/finalTest['funded_amnt_inv']
<ipython-input-27-53635ffc5814>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalTrain['bad_state'] = finalTrain['acc_now_delinq'] + (finalTrain['total_rec_late_fee']/finalTrain['funded_amnt_inv']) + (finalTrain['recoveries']/finalTrain['funded_amnt_inv']) + (finalTrain['collection_recovery_fee']/finalTrain['funded_amnt_inv']) + (finalTrain['collections_12_mths_ex_med']/finalTrain['funded_amnt_inv'])
<ipython-input-27-53635ffc5814>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalTest['bad_state'] = finalTest['acc_now_delinq'] + (finalTest['total_rec_late_fee']/finalTest['funded_amnt_inv']) + (finalTest['recoveries']/finalTest['funded_amnt_inv']) + (finalTest['collection_recovery_fee']/finalTest['funded_amnt_inv']) + (finalTrain['collections_12_mths_ex_med']/finalTest['funded_amnt_inv'])
C:\Users\china\Anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\china\Anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
<ipython-input-27-53635ffc5814>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalTrain['avl_lines'] = finalTrain['total_acc'] - finalTrain['open_acc']
<ipython-input-27-53635ffc5814>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalTest['avl_lines'] = finalTest['total_acc'] - finalTest['open_acc']
<ipython-input-27-53635ffc5814>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalTrain['int_paid'] = finalTrain['total_rec_int'] + finalTrain['total_rec_late_fee']
<ipython-input-27-53635ffc5814>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalTest['int_paid'] = finalTest['total_rec_int'] + finalTest['total_rec_late_fee']
<ipython-input-27-53635ffc5814>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalTrain['emi_paid_progress_perc'] = ((finalTrain['last_week_pay']/(finalTrain['term']/12*52+1))*100)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
import xgboost
from sklearn.metrics import accuracy_score
from sklearn.metrics import auc
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [ ]:
# Split train and cross validation sets
X_train, X_test, y_train, y_test = train_test_split(np.array(finalTrain), np.array(train_target), test_size=0.30)
eval_set=[(X_test, y_test)]

In [ ]:
from datetime import datetime
st = datetime.now()
clf = xgboost.sklearn.XGBClassifier(
    objective="binary:logistic", 
    learning_rate=0.05, 
    seed=9616, 
    max_depth=20, 
    gamma=10, 
    n_estimators=500)

In [ ]:
clf.fit(X_train, y_train, early_stopping_rounds=20, eval_metric="auc", eval_set=eval_set, verbose=True)